/*body{
	/*background: #ffffff;
	background-image: url("../resources/eder.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	overflow: hidden;
}*/

@font-face {
  font-family: MyCroissant;
  src: url("../fonts/CroissantOne-Regular.ttf");
  font-weight: bold;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #cb202d;
}

.button{
	background-color: #cb202d;
	border: 2px solid black;
	border-radius: 5px;
	color: black;
	font-size: 200%;
	font-family: MyCroissant;
	font-size: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 20px;
	transform: translate(-10%, 140%);
}

.loginUrl2 {
    padding: 0 18px;
    background-color: #111;
	color: #818181;
    max-height: 0px;
    overflow: hidden;
	transition: ease-out 0.6s;
}

.loginUrl2.trans {
	
	max-height: 500px;
	transition: ease-out 1.6s;
}

h4{
	margin:0;
}

/*
a{
	color: inherit;
}

h1{
	font-family: sans-serif;
	text-align: right;
	margin-top:0px;
	position: absolute;
	right: 0px;
	left:0px;
	padding: 1rem;
	background-color: #cb202d;
}


img{
	display: block;
	margin-right: auto;
	
}*/