@font-face {
  font-family: MyCroissant;
  src: url("../fonts/CroissantOne-Regular.ttf");
  font-weight: bold;
}

body {
	margin: 0;
}

h3 {
	font-family: MyCroissant;
	font-size: 300%;
	position: fixed;
	top: 50%;
	left: 50%;
}

#bgvid {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}