@font-face {
  font-family: MyCroissant;
  src: url("../fonts/CroissantOne-Regular.ttf");
  font-weight: bold;
}

body
{
    background-color: #f8e0b3;
	margin: 0;
	font-family: MyCroissant;
}
/*
@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}
/*
h3 {
	font-family: MyCroissant;
	font-size: 500%;
	color: white;
	text-shadow: -3px 0 #000000,0 3px #000000, 3px 0 #000000,0 -3px #000000;
	position: absolute;
	margin: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#bgvid {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}*/