

label{
	font: bold 15px MyCroissant;
	color: #fff;
	padding: 5px;
	float: left;
}

input{
	background: #fff;
	float:left;
}

input[type=submit]{
	float:left;
	margin-left:20px;
}

legend{
	font-size: 20px;
	color: #fff;
}

p {
	margin-bottom:0;
}