body{
	background: #ffffff;
	margin: 0px;
	/*background-image: url("../resources/eder.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;*/
}

@font-face {
  font-family: MyCroissant;
  src: url("../fonts/CroissantOne-Regular.ttf");
  font-weight: bold;
}

h1{
	font-family: MyCroissant;
	text-align: left;
	margin-top:0px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 60px;
	background-color: #cb202d;

}

a{
	color: inherit;
}